<section class="page-section bg-primary" id="about">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-white mt-0">Premio a la MEJOR CERVEZA del 2022</h2>
                <hr class="divider divider-light" />
                <p class="text-white-75 mb-4">That Beer fue la empresa ganadora del Premio Mundial a la mejor cerveza en el año 2022, con su "Ipa Nimo", una cerveza con características muy particulares:
                Es una cerveza con un color pálido, toques frutales y similar al ambar, con una intensidad elevada pero un sabor muy agradable. Ideal para acompañar con comidas picantes y altamente especiadas.
                •ALCOHOL: 7%
                •IBU: 50
                </p>
                <a class="btn btn-light btn-xl disabled" href="#services">PROBÁ NUESTRA "Ipa Nimo"</a>
                <br>
                <a class="btn" href="{% url 'AppThatBeerNoticias' %}">Ver más noticias...</a>
            </div>
        </div>
    </div>
</section>
