<!DOCTYPE html>
<html lang="en">
    <head>
    
        {% load static %}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>That Beer</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap Icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
        <!-- SimpleLightbox plugin CSS-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'AppThatBeer/css/styles.css' %}" rel="stylesheet" />
    </head>
    
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="{% url 'AppThatBeerInicio' %}">That Beer 🍻 - La cerveza que buscas 😉​ </a>  
                <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto my-2 my-lg-0">
                        <li class="nav-item"><a class="nav-link" href="{% url 'AppThatBeerInicio' %}">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'AppThatBeerProductos' %}">Productos</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'AppThatBeerDistribuidores' %}">Distribuidores</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'AppThatBeerClientes' %}">Clientes</a></li>
                        <li class="nav-item"><a class="nav-link" href="#patrocinadores">Patrocinadores</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'AppThatBeerNoticias' %}">Noticias</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'AppThatBeerAboutUs' %}">Sobre Nosotros</a></li>

                    </ul>
                </div>
            </div>
        </nav>
        <!-- Masthead-->
        <header class="masthead">
            <div class="container px-4 px-lg-5 h-100">
                <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                    <div class="col-lg-8 align-self-end">
                        <h1 class="text-white font-weight-bold">El dinero no compra la felicidad, pero si la cerveza, que es casi lo mismo...</h1>
                        <hr class="divider" />
                    </div>
                    <div class="col-lg-8 align-self-baseline">
                        <p class="text-white-75 mb-5">Desde 1981 fabricando la mejor cerveza bajo los estándares más altos de calidad de todo el mercado</p>
                        <a class="btn btn-primary btn-xl" href="{% url 'AppThatBeerProductos' %}">¡CONOCE NUESTROS PRODUCTOS!</a>
                    </div>
                </div>
            </div>
        </header>
        <!-- About-->
        <section class="page-section bg-primary" id="about">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8 text-center">
                        <h2 class="text-white mt-0">Premio a la MEJOR CERVEZA del 2022</h2>
                        <hr class="divider divider-light" />
                        <p class="text-white-75 mb-4">That Beer fue la empresa ganadora del Premio Mundial a la mejor cerveza en el año 2022, con su "Ipa Nimo", una cerveza con características muy particulares:
                        Es una cerveza con un color pálido, toques frutales y similar al ambar, con una intensidad elevada pero un sabor muy agradable. Ideal para acompañar con comidas picantes y altamente especiadas. 
                        •ALCOHOL: 7%
                        •IBU: 50   
                        </p>
                        <a class="btn btn-light btn-xl" href="#services">PROBÁ NUESTRA "Ipa Nimo"</a>
                    </div>
                </div>
            </div>
        </section>
        {% block ContenidoQueCambia %}
        <!-- Services-->
        <section class="page-section" id="services">
            <div class="container px-4 px-lg-5">
                <h2 class="text-center mt-0">Sobre Nosotros:</h2>
                <hr class="divider" />
                <div class="row gx-4 gx-lg-5">
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-gem fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2">Calidad</h3>
                            <p class="text-muted mb-0">Nuestros productos son sometidos a rigurosos controles en cada parte del proceso de producción</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-laptop fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2">Confianza</h3>
                            <p class="text-muted mb-0">Cuando buscas cerveza, venis donde siempre...</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-globe fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2">Internacional</h3>
                            <p class="text-muted mb-0">Podes adquirir nuestros productos desde CUALQUIER PARTE del MUNDO!</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-heart fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2">Hecho con amor</h3>
                            <p class="text-muted mb-0">La dedicación y el compromiso de nuestros empleados hacen a la excelencia de nuestro producto.</p>
                            <br>
                            <a class="btn btn-light btn-xl" href="{% url 'AppThatBeerAboutUs' %}">CONOCE MÁS"</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
                    </div>
                </div>
            </div>
        </div>
        <!-- Call to action-->
        <section class="page-section bg-dark text-white" id = "patrocinadores">
            <div class="container px-4 px-lg-5 text-center">
                <h2 class="mb-4">Nuestros patrocinadores:</h2>
                <a class="btn btn-light btn-xl" href="https://www.cervezapatagonia.com.ar/">PATAGONIA</a>
                <a class="btn btn-light btn-xl" href="https://www.millergenuinedraft.com/">MILLER</a>
                <a class="btn btn-light btn-xl" href="https://www.ypf.com/Paginas/home.aspx">YPF</a>
                <a class="btn btn-light btn-xl" href="https://www.monsterenergy.com/es/es/products/monster-energy">MONSTER ENERGY</a>
            </div>
        </section>
        <!-- Contact-->
        <section class="page-section" id="contact">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8 col-xl-6 text-center">
                        <h2 class="mt-0">¿Te gustaría visitar nuestra fábrica?</h2>
                        <hr class="divider" />
                        <p class="text-muted mb-5">Envía el formulario y participa por un TOUR COMPLETO para conocer nuestras instalaciones 🏭​</p>
                    </div>
                </div>
                <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
                    <div class="col-lg-6">
                        <!-- * * * * * * * * * * * * * * *-->
                        <!-- * * SB Forms Contact Form * *-->
                        <!-- * * * * * * * * * * * * * * *-->
                        <!-- This form is pre-integrated with SB Forms.-->
                        <!-- To make this form functional, sign up at-->
                        <!-- https://startbootstrap.com/solution/contact-forms-->
                        <!-- to get an API token!-->
                        <form id="contactForm" data-sb-form-api-token="API_TOKEN">
                            <!-- Name input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="name" type="text" placeholder="Enter your name..." data-sb-validations="required" />
                                <label for="name">Nombre y Apellido</label>
                                <div class="invalid-feedback" data-sb-feedback="name:required">Este dato es obligatorio</div>
                            </div>
                            <!-- Email address input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="email" type="email" placeholder="name@example.com" data-sb-validations="required,email" />
                                <label for="email">Dirección de correo electrónico</label>
                                <div class="invalid-feedback" data-sb-feedback="email:required">Este dato es obligatorio</div>
                                <div class="invalid-feedback" data-sb-feedback="email:email">El formato no es válido</div>
                            </div>
                            <!-- Phone number input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="phone" type="tel" placeholder="(123) 456-7890" data-sb-validations="required" />
                                <label for="phone">Número de teléfono</label>
                                <div class="invalid-feedback" data-sb-feedback="phone:required">Este dato es obligatorio</div>
                            </div>
                            <!-- Message input-->
                            <div class="form-floating mb-3">
                                <textarea class="form-control" id="message" type="text" placeholder="Enter your message here..." style="height: 10rem" data-sb-validations="required"></textarea>
                                <label for="message">Contanos brevemente por qué quieres conocer nuestras instalaciones</label>
                                <div class="invalid-feedback" data-sb-feedback="message:required">Este dato es obligatorio</div>
                            </div>
                            <!-- Submit success message-->
                            <!---->
                            <!-- This is what your users will see when the form-->
                            <!-- has successfully submitted-->
                            <div class="d-none" id="submitSuccessMessage">
                                <div class="text-center mb-3">
                                    <div class="fw-bolder">Forulario enviado con éxito</div>
                                    To activate this form, sign up at
                                    <br />
                                    <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                                </div>
                            </div>
                            <!-- Submit error message-->
                            <!---->
                            <!-- This is what your users will see when there is-->
                            <!-- an error submitting the form-->
                            <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                            <!-- Submit Button-->
                            <div class="d-grid"><button class="btn btn-primary btn-xl disabled" id="submitButton" type="submit">Enviar</button></div>
                        </form>
                    </div>
                </div>
                {% endblock %}
                <div class = "text-center mb-3" > No te pierdas de TODO lo que se viene... </div>
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-4 text-center mb-5 mb-lg-0">
                        
                        
                        <div><a href="https://discord.gg/w4W4ufMk">Click aquí para unirte a nuestro canal de Discord</a></div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer-->
        <footer class="bg-light py-5">
            <div class="container px-4 px-lg-5"><div class="small text-center text-muted">Copyright &copy; 2022 - That Beer</div></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- SimpleLightbox plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>
