{% extends 'index.html' %}
{% block ContenidoQueCambia %}
<h1>Sobre nosotros:</h1>
<p>That Beer es una empresa fundada en el año 1981 por Snoop Dogg y su socio Dr. Dre, quienes tenían una visión más alla sobre la cerveza.
Invirtieron al rededor de 2 billones de dólares en su primera fábrica y comenzaron a hacer lazos comerciales con los líderes del rubro.
A mediados de los años 90' , en pleno auge del Hip Hop, comenzaron a distribuir su cerveza por los principales eventos de Rap, Breaking y DJing. 
Asi fue como tomaron gran reconocimiento en EEUU y con el correr de los años fueron instalando sus sedes en países de Europa, asi como también de América.
<br>
<br>
<br>
<h3>Premios que conseguimos</h3>
<br>
<br>
• <b>Premio a la mejor cerveza</b> - EEUU - 1921 - Cerveza ganadora : <b>"Golden Boyz"</b>
<br>
• <b>Premio al mejor maridaje</b> - España - 1926 - Maridaje ganador : <b>"Ipa Salud" </b>c/ Tacos del Pastor
<br>
• <b>Premio al mejor servicio</b> - EEUU - 1962 - Cerveza ganadora : <b>"Cream Scotish"</b> - Servicio por: <b>That Beer Origin Team</b>
<br>
•<b> Premio a la mejor cerveza</b> - Argentina - 2018 - Cerveza ganadora : <b>"Amber Nevada"</b>
<br> 
•<b> Premio a la mejor cerveza</b> - Berlin - 2022 - Cerveza ganadora : <b>"Ipa Nimo"</b>
</p>
{% endblock %}
