{% extends 'index.html' %}
{% block ContenidoQueCambia %}

<h1>Nuestros productos:</h1>
    <a class="btn btn-light btn-xl" href="{% url 'AppThatBeerBuscarProducto' %}">FILTRAR POR VARIEDAD</a>
    <br>
{% for p in productos %}
    • <b>Nombre: {{p.nombre}}</b><br>
    • Variedad:{{p.variedad}}<br>
    • Contenido en ml:{{p.contenido_ml}}<br>
    • Codigo:{{p.codigo}}<br>
    • Codigo:{{p.descripcion}}<br>
{% endfor %}
    <a class="btn btn-light btn-xl" href="{% url 'AppThatBeerCrearProducto' %}">AGREGAR PRODUCTO</a>

{% endblock %}
